# Compiler files
cache/
out/
abi/

.idea/
.gas-snapshot


# Ignores broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

graphs/envio-subgraphs/generated/
graphs/envio-subgraphs/node_modules/
graphs/omen-agentresultmapping/node_modules/
graphs/omen-thumbnailmapping/node_modules/